body {
    background-image: url("https://www.anahuac.mx/mexico/sites/default/files/styles/webp/public/noticias/El-cronometro-mide-mas-que-solo-el-tiempo.jpg.webp?itok=RDFwlNNP");
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
}

.totalCounter div {
    display: inline-block;
    font-size: 100px;
    line-height: 80px;
    font-family: 'Digital-7', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.totalCounter {
    text-align: center;
    background: black;
    border: 2px solid #ffffff;
    padding: 20px; 
    border-radius: 30px; 
    box-shadow: 0px 0px 10px rgb(0, 0, 0); 
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonStop {
    font-size: 20px;
}

.buttonRestart {
    font-size: 20px;
}

.buttonReset {
    font-size: 20px;
}

.buttons {
    background:black !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.digit {
    width: 70px;
    text-align: center;
    background: rgb(0, 0, 0) !important;
}

.smallInput {
    width: 280px; 
    height: 40px;
    font-size: 20px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.counterNumbers {
    display: flex;
}

.buttonStop {
    background: rgb(43, 43, 43);
}

.buttonReset {
    background: rgb(43, 43, 43);
}

.buttonRestart {
    background: rgb(43, 43, 43);
}

.inputContainer {
    align-items: center;
    justify-content: center;
}

.buttons {
    align-items: center;
    justify-content: center;
}