body {
    background-image: url("https://www.anahuac.mx/mexico/sites/default/files/styles/webp/public/noticias/El-cronometro-mide-mas-que-solo-el-tiempo.jpg.webp?itok=RDFwlNNP");
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
}

.totalCounter div {
    display: inline-block;
    font-size: 100px;
    line-height: 80px;
    font-family: 'Digital-7', sans-serif;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 3px;
}

.totalCounter {
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(51, 51, 51, 0.8));    
    border: 1px solid white;    
    padding: 20px;
    border-radius: 350px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.buttonStop,
.buttonRestart,
.buttonReset {
    font-size: 17px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.digits {
    width: 50px;
    text-align: center;
}

.digit {
    width: 70px;
    text-align: center;
    background: transparent;
}

.counterNumbers {
    display: flex;
}

.smallInput {
    width: 280px; 
    height: 40px;
    font-size: 20px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.inputContainer {
    align-items: center;
    justify-content: center;
}

.fa-clock {
    font-size: 80px;
}
